.redbox {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
    padding-top: 50px;
    border-width: 10px;
    border-color: green;
    border-style: solid;
}

.yellowbox {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
    padding-top: 50px;
    border-width: 10px;
    border-color: red;
    border-style: solid;
}

.greenbox {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 490px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
    padding-top: 50px;
    border-width: 10px;
    border-color: yellow;
    border-style: solid;
}